@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
body {
  margin: 0;
  direction: rtl;
  font-family: "Open Sans", sans-serif;
}

a,
a:visited {
  color: inherit;
  text-decoration: none;
}

.f70 {
  font-size: 70px;
}

.f62 {
  font-size: 62px;
}

.f50 {
  font-size: 50px;
}

.f44 {
  font-size: 44px;
}

.f40 {
  font-size: 40px;
}

.f36 {
  font-size: 36px;
}

.f34 {
  font-size: 30px;
}

.f30 {
  font-size: 30px;
}

.f24 {
  font-size: 24px;
}

.f22 {
  font-size: 22px;
}

.f16 {
  font-size: 16px;
}

.white,
#menu,
.block p,
.hex__text p:first-of-type,
.big {
  color: #fff;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0E1B36;
  padding: 0 20px;
  height: 90px;
}
header img {
  vertical-align: middle;
}
header #menu a {
  margin-left: 40px;
}
header select {
  background-color: #0E1B36;
  color: #fff;
  width: 100px;
  height: 40px;
  padding: 0 8px;
  border: 1px solid #fff;
  border-radius: 5px;
}
header select option {
  color: #000;
  background-color: #FFF;
  text-shadow: none;
}

#s1 {
  height: 70vh;
  background-image: url("images/bg1.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
#s1 .shapes {
  display: flex;
  padding: 0 15px 3%;
  width: 100%;
  justify-content: space-between;
  padding: 0 5% 3%;
}
#s1 .rect {
  padding: 20px 25px;
  background-color: rgba(0, 0, 0, 0.8);
  color: #FFF;
  height: 65%;
  align-self: center;
}
#s1 .rect h2 {
  font-size: 60px;
  margin: 0;
  color: #e88b0c;
}
#s1 .rect p {
  font-size: 50px;
  margin: 0;
  color: #5da9dd;
}
#s1 .hexagon {
  background: url("images/hexagon.png") no-repeat;
  background-size: contain;
  width: 260px;
  height: 300px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-left: 200px;
}
#s1 .hexagon::before {
  content: url(images/white.png);
  position: absolute;
  top: -20%;
  left: -150px;
}

nav {
  padding: 0 1%;
  height: 80px;
  display: flex;
  align-items: center;
}
nav a {
  padding: 0 15px;
  line-height: 80px;
}
nav a:hover {
  background: #167BC0;
  color: #fff;
}

#s2 {
  background-image: url("images/bg2.jpg");
  background-size: cover;
  padding: 50px 0;
}

.box {
  width: 80%;
  display: flex;
  justify-content: space-between;
  padding: 0 15px;
  align-items: center;
  padding: 0 15px;
  margin: 0 auto;
}
.box div {
  margin: 0 20px;
  background-size: cover;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.box div * {
  margin: 0 0 20px 0;
}
.box a {
  color: #000000;
  font-family: NexaLight;
  border: 1px solid #000000;
  padding: 10px 20px;
  width: 130px;
  align-self: center;
}
.box a:hover {
  color: #FFF;
  border-color: #FFF;
}

.box1 {
  background-image: url("images/box1.png");
  width: 303px;
  height: 359px;
}
.box1 * {
  transform: skewY(-6deg);
}

.box2 {
  background-image: url("images/box2.png");
  width: 396px;
  height: 396px;
}

.box3 {
  background-image: url("images/box3.png");
  width: 303px;
  height: 359px;
}
.box3 * {
  transform: skewY(6deg);
}

#s3 {
  display: flex;
  background-image: url("images/bg3.jpg");
  background-size: cover;
  padding: 0 2%;
  min-height: 185px;
}
#s3 .block {
  display: flex;
  flex-direction: row;
  margin: 0 5%;
}
#s3 .block p {
  margin: 0 0 10px 10px;
}
#s3 div,
#s3 a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
}
#s3 a {
  background: url("images/hexagon2.png") no-repeat;
  background-size: contain;
  background-position: center;
  text-align: center;
  width: 135px;
  height: 154px;
  flex: 1;
}

#s4 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px 0 40px;
  background: url(images/bg4.jpg) no-repeat;
  background-size: cover;
}
#s4 .inner {
  padding: 45px 0;
}
#s4 a {
  background: url("images/hexagon3.png") no-repeat;
  background-size: contain;
  width: 204px;
  height: 233px;
  display: flex;
  justify-content: center;
  margin: auto 50px;
}
#s4 p {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
#s4 .line1 {
  text-align: center;
  color: #253f76;
}
#s4 .line1 span {
  color: #167bc0;
}
#s4 .line2 img {
  max-width: 100%;
  position: relative;
}
#s4 .line3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
#s4 .div3 {
  display: flex;
  position: relative;
  height: 400px;
}
#s4 .pop1,
#s4 .pop2,
#s4 .pop3 {
  z-index: 1;
  margin: 30px auto;
  position: absolute;
  width: 125px;
  height: 125px;
  font-size: 16px;
  line-height: normal;
  font-family: NexaLight;
  text-align: center;
  border-radius: 100%;
  border: 2px solid #167bc0;
  background-color: #167bc0;
  color: #fff;
}
#s4 img {
  width: 80%;
  left: 200px;
  top: 0px;
}
#s4 .pop1 {
  left: 50%;
  top: 0px;
}
#s4 .pop2 {
  right: 0;
  top: 150px;
}
#s4 .pop3 {
  left: 0;
  top: 150px;
}

#s5 {
  background: url(images/bg5.jpg) no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
#s5 .f62,
#s5 .f44 {
  margin: 0 0 20px;
}
#s5 a {
  background: url("images/hexagon4.png") no-repeat;
  background-size: contain;
  width: 180px;
  height: 209px;
  display: flex;
  justify-content: center;
  margin: auto 50px;
}
#s5 p {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#s5 .hexexe {
  display: flex;
  justify-content: center;
  align-items: center;
}
#s5 .hexex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#s5 .hex {
  display: flex;
  flex-direction: column;
  width: 190px;
  margin: 1%;
}
#s5 .hex__text {
  height: 180px;
  background-size: contain;
}
#s5 .hex .top img {
  max-width: 100%;
  height: auto;
}
#s5 .hex .bot1 {
  background: url("images/bottom1.png") no-repeat;
  background-size: contain;
}
#s5 .hex .bot2 {
  background: url("images/bottom2.png") no-repeat;
  background-size: contain;
}
#s5 .hex .bot3 {
  background: url("images/bottom3.png") no-repeat;
  background-size: contain;
}
#s5 .hex .bot4 {
  background: url("images/bottom4.png") no-repeat;
  background-size: contain;
}

#s6 {
  background-color: #ebf1f6;
  padding-top: 60px;
  padding-bottom: 40px;
}
#s6 h3 {
  text-align: center;
  margin: 0;
  color: #167bc0;
}
#s6 a {
  display: flex;
  width: 300px;
  border-radius: 5px;
}
#s6 a p {
  margin: 0;
}
#s6 .text {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 25%;
  text-align: left;
}
#s6 .text * {
  margin: 0;
}
#s6 .blocks {
  display: flex;
  padding: 0 10px;
}
#s6 .windows {
  background: url("images/windows.png"), linear-gradient(to bottom, #115eaa, #198bd9);
  background-repeat: no-repeat;
  background-position: 10% center;
  height: 90px;
}
#s6 .apple {
  background: url("images/apple.png"), linear-gradient(to bottom, #115eaa, #198bd9);
  background-repeat: no-repeat;
  background-position: 10% center;
  height: 90px;
}
#s6 .noimage {
  border-radius: 5px;
  background: linear-gradient(to bottom, #dc7313, #edad41);
  height: 90px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
#s6 .cards {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
#s6 .cards .f40 {
  color: #253f76;
}
#s6 .cards .big {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  margin-bottom: 30px;
}
#s6 .cards .big a {
  margin-left: 1%;
}
#s6 .cards .small {
  display: flex;
  width: 100%;
}
#s6 .cards .small__1, #s6 .cards .small__2 {
  flex: 1;
}
#s6 .cards .small__1 div, #s6 .cards .small__2 div {
  display: flex;
  margin-bottom: 30px;
}
#s6 .cards .small img {
  margin-left: 20px;
}
#s6 .devices {
  width: 40%;
  padding: 0 10px;
}
#s6 .devices img {
  max-width: 100%;
  height: auto;
}

footer {
  font-style: italic;
  background-color: #121f3a;
  color: #777777;
  display: flex;
  flex-direction: column;
  padding: 20px 75px 30px;
}
footer .footer1,
footer .footer2 {
  display: flex;
}
footer .footer1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .footer2 {
  display: flex;
  flex-direction: row-reverse;
}
footer .footer2__text1 {
  flex: 1;
  text-align: right;
}
footer .footer2__text2 {
  flex: 1;
  text-align: left;
  vertical-align: middle;
}

@media screen and (max-width: 1110px) {
  .devices {
    display: none;
  }
}
@media screen and (max-width: 956px) {
  .box div {
    width: 180px;
    height: 220px;
  }
}
@media screen and (max-width: 759px) {
  #s2,
#s3,
#s4,
#s5,
#s6,
#menu,
nav,
#s1 .hexagon {
    display: none;
  }

  header {
    justify-content: center;
  }

  #s1 .rect {
    width: 100%;
    text-align: center;
  }
}